body{
	background-color: black;
	position: relative;
}

nav{
	background-color: #660000;

	height: auto;
	width: 100%;
	font-family: Garamond;
	z-index:9999999;
	font-size: 1.2em;
	position: absolute;
	/* Alt style */
	background-color: black;
	border-bottom: 1px solid #c5b358;


}
nav p{
	padding: 0px;
	margin: 0px;
}
nav ul{
	list-style: none;
}
nav a{
	text-decoration: none;
	color: white;
}
.row div{
	padding: 10px 0 10px 0;
	margin: 0px;
}
.row a:hover div{
	background-color: #8A0707;
	/* Alt style */
	background-color: #660000;
}
nav a:hover{
	text-decoration: none;
	/* Alt style */
	color: #c5b358;
}
nav a:active{
	text-decoration: none;
	/* Alt style */
	color:#c5b358;
}
nav a:visited{
	text-decoration: none;
	color: white;
	/* Alt style */
	color: #c5b358;
}
nav li{
	display: inline;
	border: 2px solid white;
}
#toplogo{
	width: 30vw;
	text-align: center;
}
#header{
	text-align: center;
	background-color: black;
	z-index:999999;
}
.row img{
	width: 100%;
}
.row{
	margin-bottom: 0px;
}

.small{
	width: 60%;
}
@media only screen and (max-width: 480px) {
    .small{
      width: 90%;
      }
}
a i{
	padding-top: 2px;
	padding-bottom: 4px;
}





/* Dropdown Button */
.dropbtn {
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 37;
    left: 0;
    background-color: rgba(138, 7, 7, 0.5);
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: auto;
    text-align: left;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: red}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover{
    background-color: #8A0707;
}















/* FOOTER STYLES ONLY */
#footer{
	text-align: center;
	background-color: #660000;
	padding: 10px 0 20px 0;
	color: white;
	margin-top: 10px;
	bottom:0;
	width: 100%;
	font-family: Garamond;
	/* Alt style */
	background-color: black;
	border-top: 1px solid #c5b358;
	color:#c5b358;

}